.aot{
    text-align: center;
   }

div {
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    align-content: center;
}
 div :hover{
     background-color: silver;
 }

#map-iframe {
    width: 50%;
    padding: 30px;
}
h2 {
    text-align: center;
    color: black;
    font-family: 'Times New Roman';
    font-size: 20px;
}
#id {
    text-align: center;
    margin-left: 50%;
}  
